<div class="card">

    <div class="header">
        <h2 class="title">Flight Search</h2>
    </div>

    <div class="content">

        <form>
            <div class="form-group">
                <label>From:</label>
                <input [(ngModel)]="from" name="from" class="form-control">
            </div>
            <div class="form-group">
                <label>To:</label>
                <input [(ngModel)]="to" name="to" class="form-control">
            </div>
        
            <div class="form-group">
                <button
                    (click)="search()"
                    class="btn btn-default">Search</button>
            </div>
        </form>

    </div>
</div>

<div class="row">
    <div
        class="col-lg-3 col-md-4 col-sm-6 col-xs-12"
        *ngFor="let flight of flights">
            <app-flight-card
                [item]="flight"
                [selected]="basket[flight.id]"
                (selectedChange)="basket[flight.id] = $event">

                <span class="top">My useful title!</span>
                <span class="bottom">My useful content!</span>
            </app-flight-card>
    </div>
</div>

<div class="card">
  <pre>{{ basket | json }}</pre>
</div>