<div class="card">

    <div class="header">
        <h2 class="title">Flight Search</h2>
    </div>

    <div class="content">

        <form #form="ngForm">
            <div class="form-group">
                <label>From:</label>
                <input
                    [(ngModel)]="from" 
                    name="from"
                    class="form-control"
                    required
                    minlength="3"
                    maxlength="10"
                    city="Graz,Berlin">
            </div>
            
            <div
                class="alert alert-danger"
                *ngIf="form?.controls['from']?.invalid">
                An Error occured!
            </div>
            <div
                class="alert alert-danger"
                *ngIf="form?.controls['from']?.hasError('required')">
                This is a mandatory input!
            </div>
            <div
                class="alert alert-danger"
                *ngIf="form?.controls['from']?.hasError('minlength')">
                Please enter at least {{
                    form?.controls['from']?.errors?.minlength?.requiredLength
                }} chars!
            </div>
            <div
                class="alert alert-danger"
                *ngIf="form?.controls['from']?.hasError('city')">
                The entered city is not whitelisted. Please use: {{
                    form?.controls['from']?.errors?.city?.validCities | json
                }}
            </div>
            <pre *ngIf="form?.controls['from']?.errors">Errors:
---------------------------------
{{
                form?.controls['from']?.errors | json
            }}</pre>

            <div class="form-group">
                <label>To:</label>
                <input [(ngModel)]="to" name="to" class="form-control">
            </div>
        
            <div class="form-group">
                <button
                    (click)="search()"
                    class="btn btn-default">Search</button>
            </div>
        </form>

    </div>
</div>

<div class="row">
    <div
        class="col-lg-3 col-md-4 col-sm-6 col-xs-12"
        *ngFor="let flight of flights">
            <app-flight-card
                [item]="flight"
                [selected]="basket[flight.id]"
                (selectedChange)="basket[flight.id] = $event">

                <span class="top">My useful title!</span>
                <span class="bottom">My useful content!</span>
            </app-flight-card>
    </div>
</div>

<div class="card">
  <pre>{{ basket | json }}</pre>
</div>